<a href="https://colab.research.google.com/github/torrancefredell/DS-Systems/blob/main/gss_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size="5">**GSS PROJECT**</font>

Research question: How does occupational prestige and work-life balance influence marital satisfaction among married individuals in the US?"

In [ ]:
! git clone https://github.com/DS3001/project_gss

Cloning into 'project_gss'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 23 (delta 6), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (23/23), 23.94 MiB | 8.29 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [ ]:
import pandas as pd

var_list = ['wrkstat', 'prestige', 'whatslf2', 'marital', 'divorce', 'martype',
            'sppres10', 'spocc10', 'hapmar', 'age', 'educ', 'sex', 'income16'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to

modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [33]:
import os
os.environ['GITHUB_TOKEN'] = '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'
!git config --global credential.helper 'cache --timeout=3600'
!git config --global user.email "tori@fredell.com"
!git config --global user.name "torrancefredell"
!git remote set-url origin https://torrancefredell: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@github.com/torrancefredell/gss_project
!git push -u origin main

Enumerating objects: 2, done.
Counting objects: 100% (2/2), done.
Writing objects: 100% (2/2), 162 bytes | 162.00 KiB/s, done.
Total 2 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/torrancefredell/gss_project
 * [new branch]      main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [36]:
%%writefile README.md
This repository houses our GSS Project from our DS 3001 class.

Overwriting README.md

In [37]:
!git add README.md
!git commit -m "Add README.md"
!git push -u origin main

[main 6629d6f] Add README.md
 1 file changed, 1 insertion(+)
 create mode 100644 README.md
Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 2 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 305 bytes | 305.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/torrancefredell/gss_project
   4e39a80..6629d6f  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

<font size="5">**VARIABLE NOTES**</font>

SPOCC10 -- spouse’s occupation

SPPRES10 -- spouse’s occupation prestige

MARITAL -- marital status

HAPMAR -- marital happiness

In [42]:
df = pd.read_csv('/content/selected_gss_data.csv')
df.head(5)

<ipython-input-42-e30da2d1c494>:1: DtypeWarning: Columns (1,6,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/selected_gss_data.csv')

,wrkstat,prestige,whatslf2,marital,divorce,martype,sppres10,spocc10,hapmar,age,educ,sex,income16
0,working full time,50.0,NaN,never married,NaN,NaN,NaN,NaN,NaN,23.0,16.0,female,NaN
1,retired,45.0,NaN,married,no,NaN,NaN,NaN,NaN,70.0,10.0,male,NaN
2,working part time,44.0,NaN,married,no,NaN,41.0,"property, real estate, and community associati...",NaN,48.0,12.0,female,NaN
3,working full time,57.0,NaN,married,no,NaN,39.0,"tax examiners and collectors, and revenue agents",NaN,27.0,17.0,female,NaN
4,keeping house,40.0,NaN,married,no,NaN,38.0,"rolling machine setters, operators, and tender...",NaN,61.0,12.0,female,NaN

**Note: need to handle DtypeWarning -- Columns (1,6,9,10) have mixed types

In [44]:
var_list

['wrkstat',
 'prestige',
 'whatslf2',
 'marital',
 'divorce',
 'martype',
 'sppres10',
 'spocc10',
 'hapmar',
 'age',
 'educ',
 'sex',
 'income16']

In [43]:
df.shape, '\n'

((72392, 13), '\n')

<font size="5">**WRANGLING DOCUMENTATION**</font>

Write notes about steps taken to wrangle the data here: